*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

.container{
    display: flex;
    height: 400px;
    border: 2px solid black;
    flex-direction: row; /*row, row-reverse, column, column-reverse*/
    justify-content: space-around; /*flex-start, center, flex-end, space-around, space-evenly*/
    align-items: center; /*stretch, flex-start, flex-end, center e baseline*/
    /* flex-wrap: wrap; /*nowrap, wrap, wrap-reverse*/
    /* align-content: center; stretch, flex-start, flex-end, space-around */ 

}

.item{
    background-color: tomato;
    margin: 10px;
    padding: 10px;

}

.i3{
    order: -1;
}

.i2{
    order: 1;
}
