img{
    border-radius: 50%;
    height: 200px;
    /* border: 2px solid red; */
    filter: grayscale(100%); 
    /* deixa a imagem em preto e branco e outras funçoes */
}

#maria{
    background-image: url("assets/photos/clara.jpeg");
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    /* background-position: horizontal vertical (80, 0); */
}